/*
 * Customization Variables
 */

$primary: #003366;
$accent: #FF0F00; // TODO: change to orange? #FF7F50
$image-size: 125px;

/*
 * Build Variables, don't touch
 */

$max-width: 700px;
$med-width: 600px;
$small-width: 480px;
